<ion-content>
  <ion-header>
    <ion-buttons>
      <ion-back-button defaultHref="/register/town-list"></ion-back-button>
    </ion-buttons>
  </ion-header>
  <ion-grid >
    <form [formGroup]="form" (ngSubmit)="addRecipe()">
      <ion-row>
        <ion-col size-md="4" offset-md="4" size-xs="12">
          <h3 class="header-register">اطلاعات خودرو</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="4" offset-md="4" size-xs="12" class="button-grid2">

          <select name="company" formControlName="company" id="company" class="input-register5" (change)="onChange($event)">
            <option *ngFor="let select of listCompany" value="{{select.id}}">{{select.name}}</option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="4" offset-md="4" size-xs="12" class="button-grid2">
          <select name="company" class="input-register5" formControlName="model">
            <option value="{{s.id}}"  *ngFor="let s of listModels" >{{s.name}}</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="4" offset-md="4" size-xs="12" class="button-grid">
          <ion-button class="color-register2" fill="outline"  type="submit">تایید</ion-button>
        </ion-col>
      </ion-row>
    </form>



  </ion-grid>

</ion-content>
