.back-color{
  background-color: #3cd0fc;
  height: 100%;
  width: 100%;



}

.button-color{
  padding-top: 29%;
}
.image-logo{
  width: 100%;
  height: auto;
}
.color-login{
  background-color: #3cd0fc;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 100%;
  height: 43px;
  position: absolute;
  bottom: 6%;
  right: 0;
  left: 0;
  margin: 0 auto;

}

.color-register{
  background-color: white;
  color: #3cd0fc;
  width: 114px;
  height: 43px;
  border-radius: 10px;
  position: absolute;
  bottom: 6%;
  left: 0;
  font-weight: bold;
}
.text-logo{
  text-align: center;
  margin-top: 0px !important;
  color: white;
}
.bakianname{
 text-align: center;color: white;margin-top: 0px;margin-bottom: 10%;
}


