
<ion-content>
<ion-row class="back-color">
  <ion-col size-md="5" size-xs="4"></ion-col>
  <ion-col size-md="2" size-xs="4" style=" justify-content: center">
    <img src="../../assets/img/index.png" style="width: 100%;height: 140px !important;">
    <h3 class="bakianname">باکیان</h3>
  </ion-col>
  <ion-col size-md="5" size-xs="4"></ion-col>
  <ion-col size-md="3" size-xs="1" size-sm="3" style="text-align: left">

  </ion-col>
  <ion-col size-md="6" size-sm="6" size-xs="10">
    <button class="color-login" [routerLink]="['/', 'login']">ورود</button>
    <button class="color-register"  [routerLink]="['/', 'register']">ثبت نام</button>
  </ion-col>
  <ion-col size-md="3" size-xs="1" size-sm="3">

  </ion-col>
</ion-row>
  <!--<ion-row class="back-color button-color">

  </ion-row>-->
</ion-content>
