
  <div id="container" style="width: 100%!important;height: 100% !important">
    <mgl-map
      [zoom]="[16]"
      [center]="center"
      [centerWithPanTo]="true"
      [interactive]="true"
      [apiKey]="apiKey"
      (click)="clicked($event)"

    >
      <mgl-marker

      [lngLat]="markerPosition"
      [draggable]="true"
      (dragEnd)="dragged($event)"
      anchor="bottom"
      ><img src="../../assets/img/index.png "class="marker-loc" alt=""></mgl-marker>
      <!--<mgl-marker

        [lngLat]="markerPosition"
        [draggable]="true"
        (dragEnd)="dragged($event)"
        anchor="top"
      ><img src="../../assets/img/index.png "class="marker-loc" alt=""></mgl-marker>-->
    </mgl-map>
    <div class="abso2">
      <ion-input [(ngModel)]="input" class="input-register input-loc" placeholder="کجا هستید؟" readonly (click)="modalSearch()"><ion-icon name="search-outline"></ion-icon></ion-input>
    </div>

  <ion-button class="color-register2 abso" fill="outline"  (click)="clickButton()">تایید مبدا<ion-icon name="pin-outline"></ion-icon></ion-button>

    <ion-icon class="abso3" name="locate-outline" (click)="clickGps()"></ion-icon>


  </div>


