

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-xs="12">

        <img class="input-img"   src="../../../assets/img/input.png" alt="">
<div class="product-input">
          <ion-label >موقعیت خریدار</ion-label>
          <ion-input placeholder="خیابان ولیعصر" ></ion-input>
</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="12" size-xs="12">
        <p class="login-text">محصولات قابل سفارش</p>
      </ion-col>
    </ion-row>




    <ion-row class="box">
      <ion-col   size-md="10" size-xs="10" >
        <img class="box-img"   src="../../../assets/img/battery2.png" alt="">
        <p class="login-text product-text1">نوع باتری:سیلد(اتمی)برند باتری:نانو صباآمپر:60</p>

      </ion-col>



      <ion-col size-md="2" size-xs="2">
        <p class="login-text product-text ">2000 تومان</p>
      </ion-col>

    </ion-row>


    <ion-row class="box">
      <ion-col   size-md="10" size-xs="10" >
        <img class="box-img"   src="../../../assets/img/battery2.png" alt="">
        <p class="login-text product-text1">نوع باتری:سیلد(اتمی)برند باتری:نانو صباآمپر:60</p>

      </ion-col>



      <ion-col size-md="2" size-xs="2">
        <p class="login-text product-text ">2000 تومان</p>
      </ion-col>

    </ion-row>


    <ion-row class="box">
      <ion-col   size-md="10" size-xs="10" >
        <img class="box-img"   src="../../../assets/img/battery2.png" alt="">
        <p class="login-text product-text1">نوع باتری:سیلد(اتمی)برند باتری:نانو صباآمپر:60</p>

      </ion-col>



      <ion-col size-md="2" size-xs="2" >
        <p class="login-text product-text ">2000 تومان</p>
      </ion-col>

    </ion-row>


    <ion-row class="box">
      <ion-col   size-md="10" size-xs="10" >
        <img class="box-img"   src="../../../assets/img/battery2.png" alt="">
        <p class="login-text product-text1">نوع باتری:سیلد(اتمی)برند باتری:نانو صباآمپر:60</p>

      </ion-col>



      <ion-col size-md="2" size-xs="2">
        <p class="login-text product-text ">2000 تومان</p>
      </ion-col>

    </ion-row>


    <ion-row class="box">
      <ion-col   size-md="10" size-xs="10" >
        <img class="box-img"   src="../../../assets/img/battery2.png" alt="">
        <p class="login-text product-text1">نوع باتری:سیلد(اتمی)برند باتری:نانو صباآمپر:60</p>

      </ion-col>



      <ion-col size-md="2" size-xs="2">
        <p class="login-text product-text ">2000 تومان</p>
      </ion-col>

    </ion-row>






    <ion-row class="button-row">

      <ion-button class="color-register2 abso" (click)="presentModal()" type="submit">درخاست باتری</ion-button>


    </ion-row>

  </ion-grid>
</ion-content>
