<ion-content>
  <ion-header>
    <ion-buttons>
      <ion-back-button defaultHref="/register-login"></ion-back-button>
    </ion-buttons>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4" size-xs="12">
        <h3 class="header-register">ثبت نام کاربر جدید</h3>
        <p class="login-text">حساب کاربری دارید؟ <a [routerLink]="['/', 'login']">وارد شوید</a></p>
      </ion-col>
    </ion-row>
    <form [formGroup]="form" (ngSubmit)="addRecipe()">
      <ion-row>
        <ion-col size-md="4" offset-md="4" size-xs="12" class="button-grid2">
          <div>
            <ion-label >شماره تلفن همراه</ion-label>
            <ion-input class="input-register" placeholder="شماره همراه" formControlName="phoneNumber" maxlength="11"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="4" offset-md="4" size-xs="12" class="button-grid">
          <ion-button class="color-register2" fill="outline"  type="submit">ثبت نام</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <!--<ion-row>
      <ion-col size="12" class="button-grid3">
        <p class="text-color">یا ثبت نام شبکه های اجتماعی</p>
      </ion-col>
      <ion-col size="6" class="grid-twiiter">
        <button class="color-twitter" expand="full" [routerLink]="['/', 'register']"> توییتر <ion-icon name="logo-twitter"></ion-icon></button>
      </ion-col>

      <ion-col size="6" class="grid-facebook">
        <button class="color-facebook" expand="full" [routerLink]="['/', 'register']"> فیس بوک<ion-icon name="logo-facebook"></ion-icon></button>
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col size-md="4" offset-md="4" size-xs="12" class="privacy">
        <p class="login-text">با کلیک بر روی دکمه ثبت نام بدین معنی است که شما <a>قوانین و مقررات</a> رل قبول کرده اید <a>شرایط و حریم خصوصی</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



